In [1]:
import pandas as pd
import os

In [2]:
path = "./Sheika_2019"
files = [file for file in os.listdir(path) if not file.startswith('.')] # Ignore hidden files

all_months_data = pd.DataFrame()

for file in files:
    current_data = pd.read_excel(path+"/"+file)
    all_months_data = pd.concat([all_months_data, current_data])
    
all_months_data.to_excel("all_data_sheika.xlsx", index=False)

E:\Installed\Anaconda\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [2]:
all_data = pd.read_excel("all_data_sheikacopy.xlsx")

In [5]:
# Find NAN
nan_df = all_data[all_data['NOMINAL'].isna()]

all_data = all_data[pd.notnull(all_data['NOMINAL'])]

all_data.head()

,#REF!,ALAMAT,BANK,CS,DISKON,EKSPEDISI,JML,KET,NAMA,NO HP,NOMINAL,ONGKIR,ORDERAN,TGL ORDER,TGL TRF,Unnamed: 16,VALIDASI,no
0,NaN,Jl. Tempurejo gang V/7 Rt/Rw: 002/003 kec : Mu...,BCA,CS YENI (082321458214),NaN,JNE REG,1.0,NaN,Ulick,085737824872,208003.0,19000,Fazilla Purple Kids size.5 (set),30/03/19,30/03/19,NaN,WAWAT,(01)1
1,NaN,JL.PEMDA RT.9 MALINAU HULU Kecamatan :MALINAU ...,BCA,CS YENI (082321458214),25000,JNE REG,6.0,NaN,RATNA PRATININGRUM,082254494711,1725003.0,146000,- ELENORA CREAM L(5) do\n- Elenora kids cream ...,30/03/19,30/03/19,NaN,WAWAT,(01)2
2,NaN,Dsn. Ciagem RT 13/03 Dsa. Jayamakmur Kecamatan...,BCA,CS YENI (082321458214),NaN,JNE REG,2.0,NaN,Nurlaelah,085811795122,354003.0,16000,- Keya Taro XL do\n- Khimar Tisha Lavender,30/03/19,30/03/19,NaN,WAWAT,(01)3
3,NaN,Jalan segara madu/pasar ikan kedonganan Depan ...,BRI,CS YENI (082321458214),NaN,JNE REG,2.0,NaN,A junaidi,083119548203,464003.0,24000,- Alesha peach M do\n- Khimar elenora peach (p...,30/03/19,30/03/19,NaN,WAWAT,(01)4
4,NaN,Perum ckm blok D13 no 18(warna ungu) rt 25 rw ...,BCA,CS YENI (082321458214),NaN,JNE REG,1.0,NaN,Ariyanto saputro,081317578751,207003.0,12000,Tisha Putih M do,31/03/19,31/03/19,NaN,WAWAT,(01)5

In [3]:
all_data = all_data[pd.notnull(all_data['TGL TRF'])]

In [4]:
all_data['TGL ORDER'].apply(type).value_counts()

# all_data['TGL TRF'].apply(type).value_counts()

<class 'datetime.datetime'>    7464
<class 'str'>                   903
<class 'float'>                 446
Name: TGL ORDER, dtype: int64

In [6]:
tgl_sf = all_data[all_data['TGL ORDER'].apply(lambda x: isinstance(x, str))]
tgl_sf.head()

,#REF!,ALAMAT,BANK,CS,DISKON,EKSPEDISI,JML,KET,NAMA,NO HP,NOMINAL,ONGKIR,ORDERAN,TGL ORDER,TGL TRF,Unnamed: 16,VALIDASI,no
0,NaN,Jl. Tempurejo gang V/7 Rt/Rw: 002/003 kec : Mu...,BCA,CS YENI (082321458214),NaN,JNE REG,1.0,NaN,Ulick,085737824872,208003.0,19000,Fazilla Purple Kids size.5 (set),30/03/19,30/03/19,NaN,WAWAT,(01)1
1,NaN,JL.PEMDA RT.9 MALINAU HULU Kecamatan :MALINAU ...,BCA,CS YENI (082321458214),25000,JNE REG,6.0,NaN,RATNA PRATININGRUM,082254494711,1725003.0,146000,- ELENORA CREAM L(5) do\n- Elenora kids cream ...,30/03/19,30/03/19,NaN,WAWAT,(01)2
2,NaN,Dsn. Ciagem RT 13/03 Dsa. Jayamakmur Kecamatan...,BCA,CS YENI (082321458214),NaN,JNE REG,2.0,NaN,Nurlaelah,085811795122,354003.0,16000,- Keya Taro XL do\n- Khimar Tisha Lavender,30/03/19,30/03/19,NaN,WAWAT,(01)3
3,NaN,Jalan segara madu/pasar ikan kedonganan Depan ...,BRI,CS YENI (082321458214),NaN,JNE REG,2.0,NaN,A junaidi,083119548203,464003.0,24000,- Alesha peach M do\n- Khimar elenora peach (p...,30/03/19,30/03/19,NaN,WAWAT,(01)4
4,NaN,Perum ckm blok D13 no 18(warna ungu) rt 25 rw ...,BCA,CS YENI (082321458214),NaN,JNE REG,1.0,NaN,Ariyanto saputro,081317578751,207003.0,12000,Tisha Putih M do,31/03/19,31/03/19,NaN,WAWAT,(01)5