In [2]:
import pandas as pd
import os

In [19]:
path = "./Sheika_2019"
files = [file for file in os.listdir(path) if not file.startswith('.')] # Ignore hidden files

all_months_data = pd.DataFrame()

for file in files:
    current_data = pd.read_excel(path+"/"+file)
    all_months_data = pd.concat([all_months_data, current_data])
    
all_months_data.to_excel("all_data_sheika.xlsx", index=False)

E:\Installed\Anaconda\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [96]:
all_data = pd.read_excel("all_data_sheikacopy.xlsx")

In [97]:
# Find NAN
nan_df = all_data[all_data['NOMINAL'].isna()]

all_data = all_data[pd.notnull(all_data['NOMINAL'])]

In [98]:
all_data = all_data[pd.notnull(all_data['TGL TRF'])]

In [99]:
nan_df = all_data[all_data.isna().any(axis=1)]

all_data = all_data.dropna(how='all')

In [100]:
all_data['TGL ORDER'].apply(type).value_counts()

<class 'datetime.datetime'>    7671
<class 'str'>                   905
Name: TGL TRF, dtype: int64

In [101]:
all_data[all_data['TGL ORDER'].apply(lambda x: isinstance(x, int))]

Empty DataFrame
Columns: [#REF!, ALAMAT, BANK, CS, DISKON, EKSPEDISI, JML, KET, NAMA, NO HP, NOMINAL, ONGKIR, ORDERAN, TGL ORDER, TGL TRF, Unnamed: 16, VALIDASI, no]
Index: []